@{
    ViewData["Title"] = "Sullivan Burger - Web Oficial";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>NEW</span>
                            </div>
                            <h3>
                                Burger <br>
                                Awebo
                            </h3>
                            <h4>Mexican</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>Big Deal</span>
                            </div>
                            <h3>Pecado Carnal</h3>
                            <h4>Beefy</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>Hamburguesas</span>
                    <h3>Las Mejores Hamburguesas</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/1.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Awebo</h3>
                        <p>Pulled pork con bacon, queso, aros de cebolla, lechuga y guacamole.</p>
                        <span>7,99€</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/2.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Sullivan</h3>
                        <p>La estrella de la casa, ternera madurada, ingredientes secretos.</p>
                        <span>7,00€</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/3.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Esencial</h3>
                        <p>Ternera, bacon, queso y ketchup.</p>
                        <span>4,99€</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/4.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Pecado Carnal</h3>
                        <p>Utilizando ternera y pulled pork, hamburguesa para carnívoros.</p>
                        <span>7,50€</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/5.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Texas</h3>
                        <p>Ternera con lechuga, bacon, queso, cebolla crujiente y salsa barbacoa.</p>
                        <span>5,99€</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/6.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Ibérica</h3>
                        <p>Black Angus con jamón ibérico, queso viejo y salmorejo en pan artesano.</p>
                        <span>12,50€</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/7.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Vegana</h3>
                        <p>Hamburguesa 100% vegetal con guacamole, cebolla, tomate y lechuga en pan de cereales.</p>
                        <span>9,00€</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="img/burger/8.png" alt="">
                    </div>
                    <div class="info">
                        <h3>Crispy Chicken</h3>
                        <p>Hamburguesa crujiente de pollo en pan artesano con bacon, lechuga y salsa alioli.</p>
                        <span>5,50€</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="iteam_links">
                    <a class="boxed-btn5" href="Menu.html">Más productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_startt -->
<div class="Burger_President_area">
    <div class="Burger_President_here">
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="img/burgers/1.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>15€</span>
                        <h3>Menú Presidente</h3>
                        <p>
                            - Hamburguesa 100% pechuga marinada, jugosa y crujiente 200g montada sobre un pan con masa madre con cheddar, bacon, canónigos y rúcula, tomate y salsa.
                        </p>
                        <p>
                            - Snack a elegir entre patatas caseras o croquetas.
                        </p>
                        <p>
                            - Selección de un refresco de 40 cl y bebidas alcohólicas.
                        </p>
                        <a href="#" class="boxed-btn3">Pedir ahora</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="img/burgers/2.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>15€</span>
                        <h3>Menú Signature</h3>
                        <p>
                            - Hamburguesa de vaca rubia gallega madurada 180g.
                        </p>
                        <p>
                            - Patatas fritas o Deluxe o Ensalada de la Huerta.
                        </p>
                        <p>
                            - Una botella de 50 cl de agua Nestlé Aquarel, un refresco de 40 cl, una cerveza Mahou
                            de 30cl o una cerveza sin alcohol Mahou de 30cl

                        </p>
                        <p>
                            -Por un suplemento añade las patatas Top Fries a tu menú.
                        </p>
                        <a href="#" class="boxed-btn3">Pedir ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>¿Qué ofrecemos?</span>
                        <h3>
                            Mejores Burgers <br>
                            de la zona
                        </h3>
                    </div>
                    <p>
                        Burgers 100% de ternera, ensaladas frescas hechas al momento, variedad de panes con alto
                        contenido en fibras, de cereales, sin gluten…
                    </p>
                    <p>Variedades vegetarianas y veganas.</p>
                    <p>
                        Todo pensado para que puedas disfrutar de nuestro "Fast Good" de manera saludable y
                        nutritiva.
                    </p>
                    <div class="img_thumb">
                        <img src="img/firma.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- video_area_start -->
<div class="video_area video_bg overlay">
    <div class="video_area_inner text-center">
        <h3>
            Burger <br>
            Sullivan
        </h3>
        <span>Cómo hacemos esta deliciosa hamburguesa</span>
        <div class="video_payer">
            <a href="https://www.youtube.com/watch?v=uP_NGr3NhvI" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- video_area_end -->
<!-- testimonial_area_start  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>Lo que dicen de nosotros</span>
                    <h3>Valoraciones de nuestros clientes</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        "Rápida entrega y comida excepcional. Hamburguesas muy recomendadas con pan
                                        artesano"
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/1.png" alt="">
                                        </div>
                                        <h4>Kristiana Ronaldo</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>"Muy buena calidad y muy simpáticos. Llegó muy puntual"</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/2.png" alt="">
                                        </div>
                                        <h4>Juan Alberto</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>
                                        "Todo estaba riquísimo y con una atención estupenda, ¡repetiremos seguro!"
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/3.png" alt="">
                                        </div>
                                        <h4>Andrés Boquerón</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_ned  -->
<!-- instragram_area_start -->
<div class="instragram_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="img/instragram/1.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="img/instragram/2.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="img/instragram/3.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_instagram">
                    <img src="img/instragram/4.png" alt="">
                    <div class="ovrelay">
                        <a href="https://www.instagram.com/p/B59ejLnhbux">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- instragram_area_end -->
