@{
  ViewData["Title"] = "Iniciar sesión";
}

<div class="wrapper vertical-center">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/img/person-fill.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="usuario" class="fadeIn second" name="usuario" placeholder="usuario" minlength="5" maxlength="20">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="contraseña" minlength="5" maxlength="10">
      <input type="hidden" name="login" value="true">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>
        ¿No tienes una cuenta?
        <a class="underlineHover" asp-area="" asp-controller="Home" asp-action="SignUp"> Sign Up</a>
      </p>
    </div>
  </div>
</div>

</div>
