div.header-area {
  background-color: black;
}
.precio {
  color: coral;
  font-weight: bold;
}
i.precio {
  font-size: 2rem;
}

.nav-link.active {
  background-color: black !important;
  font-weight: bold !important;
  color: #ffdf3f !important;
}

.sullivanButton {
  background-color: black !important;
  font-weight: bold !important;
  color: #ffdf3f !important;
}

.orderInput {
  border: 1px solid #d8d8d8;
  font-weight: 500;
  color: #8b8b8b;
  width: 40%;
}

.bigFont {
  font-size: 1.7rem;
}

.bigFontLess {
  font-size: 1.5rem;
}

.bigMargin {
  margin-bottom: 20vw !important;
}

.tableVerticalAlign td {
  vertical-align: middle;
}

.text-decoration-none {
  text-decoration: none;
}