@model Usuario

@{
  ViewData["Title"] = "Editar perfil";
  ViewData["PageType"] = "user";
}

<form method="post" asp-action="EditProfile" class="usersAdmin m-5">
  <div class="row pb-2">
    <h2 class="text-primary">Editar perfil</h2>
    <hr />
  </div>
  <div class="mb-3">
    <label asp-for="Email"></label>
    <input disabled type="email" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Nombre"></label>
    <input type="text" asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Apellidos"></label>
    <input type="text" asp-for="Apellidos" class="form-control" />
    <span asp-validation-for="Apellidos" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Telefono"></label>
    <input type="number" asp-for="Telefono" class="form-control" />
    <span asp-validation-for="Telefono" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Direccion"></label>
    <input type="text" asp-for="Direccion" class="form-control" />
    <span asp-validation-for="Direccion" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary" style="width:150px"> Guardar </button>
  <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
    Cancelar
  </a>
</form>
