@model Producto

@{
  ViewData["Title"] = "Crear producto";
  ViewData["PageType"] = "admin";
}

<form method="post" asp-action="Create" enctype="multipart/form-data" class="usersAdmin m-5">
  <div class="row pb-2">
    <h2 class="text-primary">Crear Producto</h2>
    <hr />
  </div>
  <div class="mb-3">
    <label asp-for="Nombre"></label>
    <input type="text" asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Descripcion"></label>
    <input type="text" asp-for="Descripcion" class="form-control" />
    <span asp-validation-for="Descripcion" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Precio"></label>
    <input type="number" step=".01" asp-for="Precio" class="form-control" value="-1" />
    <span asp-validation-for="Precio" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Imagen"></label>
    <input type="file" name="postedFile" id="postedFile" class="form-control" required />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" class="form-control">
      <option>hamburguesa</option>
      <option>complemento</option>
      <option>bebida</option>
      <option>postre</option>
    </select>
    <span asp-validation-for="Tipo" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Stock"></label>
    <input type="number" asp-for="Stock" class="form-control" value="-1"/>
    <span asp-validation-for="Stock" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="DistribuidorId" class="control-label"></label>
    <select asp-for="DistribuidorId" class="form-control" asp-items="ViewBag.DistribuidorId"></select>
  </div>
  <button type="submit" class="btn btn-primary" style="width:150px"> Crear </button>
  <a asp-controller="Products" asp-action="Management" class="btn btn-secondary" style="width:150px">
    Volver atrás
  </a>
</form>

